@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color variables */
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2563eb;
  --primary-foreground: #f8fafc;
  --secondary: #4f46e5;
  --secondary-foreground: #e0e7ff;
  --accent: #9333ea;
  --accent-foreground: #f3e8ff;
  --success: #16a34a;
  --warning: #f59e0b;
  --error: #dc2626;
  --muted: #64748b;
  --muted-foreground: #cbd5e1;
  --border: #2F2F2F;
  /* Font variables */

  --font-sans: 'Inter', 'Arial', sans-serif;
  --font-mono: 'SFMono-Regular', 'Menlo', monospace;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;

  /* Screen sizes */
  --screen-xs: 300px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #3b82f6;
    --primary-foreground: #1e3a8a;
    --secondary: #6366f1;
    --secondary-foreground: #3730a3;
    --accent: #8b5cf6;
    --accent-foreground: #4c1d95;
    --muted: rgba(35, 35, 35, 1);
    --muted-foreground: #7B7B7B;

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mont-serrat);
  font-size: var(--font-size-base);
}

/* Optional: Add custom utility classes */
@layer utilities {
  .container-sm {
    max-width: var(--screen-sm);
    margin: 0 auto;
  }

  .container-md {
    max-width: var(--screen-md);
    margin: 0 auto;
  }

  .text-muted {
    color: var(--muted-foreground);
  }
}

.clipped {
  clip-path: polygon(100% 0, 100% 76%, 90% 100%, 0 100%, 0 0);

}