@import url('./fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* Color variables */
  --background: #151515;
  --foreground: #232323;
  --primary: #2563eb;
  --primary-foreground: #f8fafc;
  --secondary: #4f46e5;
  --secondary-foreground: #e0e7ff;
  --accent: #9333ea;
  --accent-foreground: #f3e8ff;
  --success: #16a34a;
  --warning: #f59e0b;
  --error: #dc2626;
  --muted: #64748b;
  --muted-foreground: #cbd5e1;
  --border: #2F2F2F;
  --orange-bg:#F8580A;
  --light-gray :#868386;
  --text-primary :#7B7B7B;
  --border-gray : #3D3D3D;
  --white-smoke:#E2E2E273;
  --muted-gray: #E2E2E273;
  --gray-muted-100: #C3C3C3;
  --background-200 :rgba(79, 79, 79, 0.45);
  --background-300 :rgba(39, 39, 39, 0.58);
  --background-400 :rgba(184, 184, 184, 1);

  /* Font variables */

  --font-mono: 'SFMono-Regular', 'Menlo';
  --font-montserrat: 'Montserrat';
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;


  /* Screen sizes */
  --screen-xs: 300px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
  font-size: var(--font-size-base);
  box-sizing: border-box;
}

/* Optional: Add custom utility classes */
@layer utilities {
  .container-sm {
    max-width: var(--screen-sm);
    margin: 0 auto;
  }

  .container-md {
    max-width: var(--screen-md);
    margin: 0 auto;
  }

  .text-muted {
    color: var(--muted-foreground);
  }
}

.clipped {
  clip-path: polygon(100% 0, 100% 76%, 90% 100%, 0 100%, 0 0);

}
::-webkit-scrollbar {
  display: none;
}

.clipped-left {
  /* clip-path: polygon(20% 0%, 0% 21%, 0% 100%, 99% 100%, 100% 0%); */
  clip-path: polygon(10% 0, 0 35%, 0% 99%, 100% 100%, 100% 0%);
  

}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--foreground) inset !important;
  box-shadow: 0 0 0 1000px var(--foreground) inset !important;
  -webkit-text-fill-color: var(--text-primary)!important;
  
}
 .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "box-1 box-2"
  "box-3 box-2"
  "box-3 box-4"
  "box-3 box-6"
  "box-5 box-6";  
 }
 
 [class^="box-item-"] {
   border: 1px solid #FFFFFF91;
 }

p  {
   line-height: 1.625;
  }